*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background: radial-gradient(circle at top,#1a4fa3, #020b1a) ;
  color: #ffff;
  overflow: hidden;
  min-height: 100vh;
}




